## Relatório I


*   Selecione somente os imóveis classificados com tipo 'Apartamento'.

* Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

* Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

* Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [35]:
import pandas as pd

In [36]:
dados = pd.read_csv('aluguel.csv', sep = ';')

In [37]:
residencial =  ['Quitinete',
                'Casa',
                'Apartamento',
                'Casa de Condomínio',
                'Casa de Vila']
selecao = dados['Tipo'].isin(residencial)
dados_residencial = dados[selecao]
dados_residencial.index = range(dados_residencial.shape[0])
dados_residencial.to_csv('aluguel_residencial.csv', sep = ';')
dados = pd.read_csv('aluguel_residencial.csv', sep = ';')

---

*   Selecionando Imóveis do tipo apartamento

In [38]:
#Selecionando somente imóveis 'Apartamento'
selecao = dados['Tipo'] == 'Apartamento'
selecao

0        False
1        False
2         True
3         True
4         True
         ...
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

In [39]:
#Criação de uma variável armazenadora somente dos dados verdadeiros
apartamentos = dados[selecao].shape[0]
apartamentos

19532



---
* Selecionando Imóveis do tipo casa, casa de condominio, casa de vila

In [41]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
selecao

0        False
1         True
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Name: Tipo, Length: 22580, dtype: bool

In [43]:
#Criação de uma variável armazenadora somente dos dados verdadeiros
casas = dados[selecao].shape[0]
casas

2212

---
* Selecionar imóveis com área entre 60 e 100

In [46]:
selecao = (dados['Area'] >= 60) & (dados['Area'] <=100) 
area = dados[selecao].shape[0]
area

8719

---
* Imóveis pelo menos quatro quartos e um aluguel menor que R$ 2.000,00.

In [48]:
selecao = (dados['Quartos'] >= 4 ) & (dados['Valor'] <2000)
quartos = dados[selecao].shape[0]
quartos

41

In [51]:
print("Nº de imóveis do tipo 'Apartamento' -> {}". format(apartamentos))
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> {}".format(casas))
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(area))
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(quartos))

Nº de imóveis do tipo 'Apartamento' -> 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 41

# Extra: formas de seleção