## Relatório I


*   Selecione somente os imóveis classificados com tipo 'Apartamento'.

* Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

* Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

* Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('aluguel.csv', sep = ';')

In [ ]:
residencial =  ['Quitinete',
                'Casa',
                'Apartamento',
                'Casa de Condomínio',
                'Casa de Vila']
selecao = dados['Tipo'].isin(residencial)
dados_residencial = dados[selecao]
dados_residencial.index = range(dados_residencial.shape[0])
dados_residencial.to_csv('aluguel_residencial.csv', sep = ';')
dados = pd.read_csv('aluguel_residencial.csv', sep = ';')

---

*   Selecionando Imóveis do tipo apartamento

In [ ]:
#Selecionando somente imóveis 'Apartamento'
selecao = dados['Tipo'] == 'Apartamento'
selecao

0        False
1        False
2         True
3         True
4         True
         ...
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

In [ ]:
#Criação de uma variável armazenadora somente dos dados verdadeiros
apartamentos = dados[selecao].shape[0]
apartamentos

19532



---
* Selecionando Imóveis do tipo casa, casa de condominio, casa de vila

In [ ]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
selecao

0        False
1         True
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Name: Tipo, Length: 22580, dtype: bool

In [ ]:
#Criação de uma variável armazenadora somente dos dados verdadeiros
casas = dados[selecao].shape[0]
casas

2212

---
* Selecionar imóveis com área entre 60 e 100

In [ ]:
selecao = (dados['Area'] >= 60) & (dados['Area'] <=100) 
area = dados[selecao].shape[0]
area

8719

---
* Imóveis pelo menos quatro quartos e um aluguel menor que R$ 2.000,00.

In [ ]:
selecao = (dados['Quartos'] >= 4 ) & (dados['Valor'] <2000)
quartos = dados[selecao].shape[0]
quartos

41

In [ ]:
print("Nº de imóveis do tipo 'Apartamento' -> {}". format(apartamentos))
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> {}".format(casas))
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(area))
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(quartos))

Nº de imóveis do tipo 'Apartamento' -> 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 41

# Extra: formas de seleção

In [58]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]
#split: converte uma string em elementos individualizados
dataframe = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())
dataframe

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [60]:
#Criação de uma série com os valores da primeira coluna
dataframe['c1']

l1     1
l2     5
l3     8
l4    13
Name: c1, dtype: int64

In [61]:
dataframe[['c3' , 'c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   8
l4  15  13

In [62]:
#seleção de todas as linha do DataFrame
dataframe[:]

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [63]:
#seleção linhas específicas
dataframe[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12

In [64]:
dataframe[1:][['c3', 'c1']]

    c3  c1
l2   7   5
l3  11   8
l4  15  13

In [65]:
#seleções a partir do rótulo das linhas
dataframe.loc['l4']

c1    13
c2    14
c3    15
c4    16
Name: l4, dtype: int64

In [66]:
dataframe.loc[['l1', 'l2']]

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8

In [67]:
dataframe.loc['l1', 'c2']

2

In [68]:
dataframe.iloc[0,1]

2

In [69]:
dataframe.loc[['l3', 'l1'], ['c4','c1']]

    c4  c1
l3  12   8
l1   4   1

In [70]:
dataframe.iloc[[2,0],[3,0]]

    c4  c1
l3  12   8
l1   4   1